version = "1.0"

[main]
name = "Filebrowser configuration"
services = ["__APP__"]

    [main.config]
    name = "Configuration Options"

        [main.config.datadir]
        ask = "Choose path"
        type = "path"
        default = "/home/yunohost.app/filebrowser"
        help = "Choose path"
        bind = "root:/var/www/__APP__/settings.json"