packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.56.0~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"
    help = "minimum length is 12"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.56.0/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "9c583cb27a880e11c33993b485592405837ee386b5c1e64e77ac8c3b9e0626f6"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.56.0/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "6e3f6669029480aa5db63765bdad7b21c3030cf6d22c4599e057c04e02cb21e6"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.56.0/linux-386-filebrowser.tar.gz"
        i386.sha256 = "abc56e62a662626262b5d40c3fb5fee87ee13cf262098fb2d64be79ddc517c46"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.56.0/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "8affd96b7d034676cb97882ac631efe0309423c61b78261edadbac550a0d1b05"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
