packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.45.3~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.3/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "3efd43d2ff8735e31d81e16e58aa6dadb93ffcac7c29da077515d94f7be826da"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.3/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "2285e44b9ee0bfac0f351917d79491ba4b92bb2e6bab70540f1a593895dbf4fc"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.3/linux-386-filebrowser.tar.gz"
        i386.sha256 = "6c0a1151a490375469bcc8db2bdb4a025fcdac4a350de386b76a8242f9560626"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.3/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "448ba52b3edffa4d825bdfdbdc986bf59982136f8253375c445cb58cb0304249"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
