packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.46.0~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.0/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "70d8100f1f7e70affe5154fd0db7fea2a2de09a39678e996384be4732b490f53"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.0/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "d68e2b1d2bc31e744839777f227e26c560de92a973e64ccd4a57a7e1ed7321ad"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.0/linux-386-filebrowser.tar.gz"
        i386.sha256 = "1c23d58877e86da6bc63fd3a1355e436e0d2f68cfc0cd585ee17d23f777b8b44"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.0/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "c0f0abf34a91f6d45ec027d2f65e36f18a622a8928c9ef61491b49fe1f9ac26a"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
