packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.52.0~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.52.0/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "72b89a3f2d3a00f8d1818af73ea510a76eee3f9e00298e66915265ed731a5d92"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.52.0/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "37ad36b84848649a8ea8fa17ead118183ecd238f56e69274da08976ab00e0b32"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.52.0/linux-386-filebrowser.tar.gz"
        i386.sha256 = "61cdb939867cd66c1da8f2b082e268e768c503c84063cce19d3bf5cae3082845"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.52.0/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "130ce67c578a8bc19a41905419319826a23acbb6a6757b73ce5aa4285485e5fd"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
