packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.46.1~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.1/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "c6e1a6906dbee02a202b9bf2ccf7ee38c1917b397bc8bfb6e93e631395407472"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.1/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "bcc320fe9c6a092364db59ec833a920fb7035086f4fb64e0aefb9bb18fe29dcb"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.1/linux-386-filebrowser.tar.gz"
        i386.sha256 = "f9c1e97f41a686ee2fb15f7c956102398adad58101b770a658d0431443423a08"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.46.1/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "b66412ff0eeaa803449bde27c09b1f4b85fa9dadd53b4f1f8c09d3c09c502507"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
