packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.51.0~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.0/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "9b57c12ae5f4f2e0c32b54ad0ac4ec5353c887ba247ef0a0612268f42760b946"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.0/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "4220299380d7b3f8151417467c33ad5c1a7c796928fa13260a9b2d88efc62374"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.0/linux-386-filebrowser.tar.gz"
        i386.sha256 = "828c3f066fca86835095ac805b9b358701d80f5730edfe4987add180d2272727"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.0/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "f17c5d93464384d9f0db2ef56af6fd65c05a0e75f2c86b3bd49d79836c69e7b6"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
