packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.53.1~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.53.1/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "2008e41536d601af0f9494d57205350b3928bc18822c16a0e9d211890c595d84"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.53.1/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "6aadebdb24456c034f8ee4daf63b99f690f19025bd514b213f498850684cb0cc"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.53.1/linux-386-filebrowser.tar.gz"
        i386.sha256 = "a57b2a60c5a80f219363bf4abffc87d146b74ff7c877b1692e012773766ca549"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.53.1/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "dfda71ecbfb35c8ff1b73d3a679764c5eddf46f6660a486782318a2976f7f7df"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
