packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.51.2~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.2/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "ec4553c545398a8bc9fa4aa180afa3bc5557a4de6f42f1f20ca2c56b52aa71a3"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.2/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "a85ce49ebcf9ea0b096395045dc31d186a54c315d88dfc8b93e4afe3628d892f"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.2/linux-386-filebrowser.tar.gz"
        i386.sha256 = "47e7045c195405aeaa2af8d78e0053aad6fcf4312016b0f3b5e3307fa263d729"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.51.2/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "18f6d718fba1a74fdda6f193d7645262b6d8904d5bc9695ea87363fd7e192c5e"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
