packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.48.1~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.48.1/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "590c347fe5ea4e82ca941f8295fb5fcc54695e5adc50ac8554711654789973f2"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.48.1/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "363f39525906090e9a0d0dc51f26379a75eb20a764420609ff59de48ee0312e5"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.48.1/linux-386-filebrowser.tar.gz"
        i386.sha256 = "dadeb71cef569521c1e16bc84601fcec7044493c0374d4bce1aaaa87ea9e77e0"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.48.1/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "9ab1516c9be13c63cab27aadb8535f33995ebfcb787c90a1b196830faee8c7af"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
