packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.33.4~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.33.4/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "c1f6fe4a55d536d2780ada5bcea0042cf8592ada2e53a73eb63ada6e1e482c96"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.33.4/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "d71da2c29a733719046c8dca653f853f9aad2c91fabaeae9032f955366d3f10a"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.33.4/linux-386-filebrowser.tar.gz"
        i386.sha256 = "ba9ca25e649f2c1b8abc1dff71d3865e48ba4dcad9db469a449d460527610c9d"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.33.4/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "b1b3126dcd766440be338ae0dd90401a314f799e733724c4971799df38db062a"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
