packaging_format = 2

id = "filebrowser"
name = "Filebrowser"
description.en = "Web File Browser"
description.fr = "Gestionnaire de fichiers"

version = "2.45.0~ynh1"

maintainers = [ ]

[upstream]
license = "Apache-2.0"
website = "https://filebrowser.org"
admindoc = "https://filebrowser.org/"
code = "https://github.com/filebrowser/filebrowser"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/filebrowser"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        amd64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.0/linux-amd64-filebrowser.tar.gz"
        amd64.sha256 = "500db540a5beaf49a96abe24f142e87f4fd2c7705fe4bf219de68f82e7ee86ad"
        arm64.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.0/linux-arm64-filebrowser.tar.gz"
        arm64.sha256 = "73c593f82932c8953839e21f177287682200772ba8a6687b877ddb003a77014a"
        i386.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.0/linux-386-filebrowser.tar.gz"
        i386.sha256 = "2dee497a00252e9d386d4db48f382ef2d725b645c0018ac8d2dd11e4fbd3a712"
        armhf.url = "https://github.com/filebrowser/filebrowser/releases/download/v2.45.0/linux-armv7-filebrowser.tar.gz"
        armhf.sha256 = "1f7edde1a6f8523e75cf3e540877f228e2e8677f6a2be9ea74b3be8e54a6616d"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^linux-amd64-filebrowser.tar.gz$"
        autoupdate.asset.arm64 = "^linux-arm64-filebrowser.tar.gz$"
        autoupdate.asset.i386 = "^linux-386-filebrowser.tar.gz$"
        autoupdate.asset.armhf = "^linux-armv7-filebrowser.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
