test_format = 1.0

[default]

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.78e593f7ef95f9719052f9f6f096e050912e2e9b.name = "Upgrade from 2.56.0"